@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #faf7f2;
  --foreground: #2b1f2a;
  --primary: #e25a7d;
  --primary-dark: #ac3053;
  --primary-light: #f9d0db;
  --accent: #f4a9bb;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
